<div class="row">
  <div class="col-md-1 image">
  </div>
  <div class="col-md-4 image puppy">
    <%= link_to (image_tag puppy.main_image.url, class:'image'), puppy_path(puppy.id) unless puppy.main_image.url.nil? %>
  </div>
  <div class="col-md-5 about card-body" >
    <p><%= puppy.about %></p>
  </div>
  <div class="col-md-2 image">
  </div>
</div>